@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: plum;
  height: 65px;
  padding: 0 40px;
  margin: 0 auto;
}
.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
}
.nav-link a {
  text-decoration: none;
  color: #000;
  margin-right: 24px;
  font-size: 24px;
  font-weight: bold;
}
.nav-link a:hover{
  color: #888;
}